<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Login</display-name>
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>LoginedFilter</filter-name>
		<filter-class>filter.LoginedFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginedFilter</filter-name>
		<url-pattern>/adminindex.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginedFilter</filter-name>
		<url-pattern>/employeeindex.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>LoginCookieFilter</filter-name>
		<filter-class>filter.LoginCookieFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginCookieFilter</filter-name>
		<url-pattern>/login.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RegistServlet</display-name>
		<servlet-name>RegistServlet</servlet-name>
		<servlet-class>servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistServlet</servlet-name>
		<url-pattern>/RegistServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAllDepartmentsServlet</display-name>
		<servlet-name>ViewAllDepartmentsServlet</servlet-name>
		<servlet-class>servlet.ViewAllDepartmentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllDepartmentsServlet</servlet-name>
		<url-pattern>/ViewAllDepartmentsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ValidateUsernameServlet</display-name>
		<servlet-name>ValidateUsernameServlet</servlet-name>
		<servlet-class>servlet.ValidateUsernameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateUsernameServlet</servlet-name>
		<url-pattern>/ValidateUsernameServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAllEmployeesServlet</display-name>
		<servlet-name>ViewAllEmployeesServlet</servlet-name>
		<servlet-class>servlet.ViewAllEmployeesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllEmployeesServlet</servlet-name>
		<url-pattern>/ViewAllEmployeesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApproveServlet</display-name>
		<servlet-name>ApproveServlet</servlet-name>
		<servlet-class>servlet.ApproveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApproveServlet</servlet-name>
		<url-pattern>/ApproveServlet</url-pattern>
	</servlet-mapping>
		<servlet>
		<description></description>
		<display-name>SearchEmployeesServlet</display-name>
		<servlet-name>SearchEmployeesServlet</servlet-name>
		<servlet-class>servlet.SearchEmployeesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchEmployeesServlet</servlet-name>
		<url-pattern>/SearchEmployeesServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddDeleteDepartmentServlet</display-name>
		<servlet-name>AddDeleteDepartmentServlet</servlet-name>
		<servlet-class>servlet.AddDeleteDepartmentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddDeleteDepartmentServlet</servlet-name>
		<url-pattern>/AddDeleteDepartmentServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddMeetingroomServlet</display-name>
		<servlet-name>AddMeetingroomServlet</servlet-name>
		<servlet-class>servlet.AddMeetingroomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddMeetingroomServlet</servlet-name>
		<url-pattern>/AddMeetingroomServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAllMeetingRoomsServlet</display-name>
		<servlet-name>ViewAllMeetingRoomsServlet</servlet-name>
		<servlet-class>servlet.ViewAllMeetingRoomsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllMeetingRoomsServlet</servlet-name>
		<url-pattern>/ViewAllMeetingRoomsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateMeetingRoomServlet</display-name>
		<servlet-name>UpdateMeetingRoomServlet</servlet-name>
		<servlet-class>servlet.UpdateMeetingRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMeetingRoomServlet</servlet-name>
		<url-pattern>/UpdateMeetingRoomServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewAllServlet</display-name>
		<servlet-name>ViewAllServlet</servlet-name>
		<servlet-class>servlet.ViewAllServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewAllServlet</servlet-name>
		<url-pattern>/ViewAllServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description></description>
		<display-name>SelectEmployeesOfDeptServlet_647</display-name>
		<servlet-name>SelectEmployeesOfDeptServlet_647</servlet-name>
		<servlet-class>servlet.SelectEmployeesOfDeptServlet_647</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SelectEmployeesOfDeptServlet_647</servlet-name>
		<url-pattern>/SelectEmployeesOfDeptServlet_647</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>SearchMeetingsServlet</display-name>
		<servlet-name>SearchMeetingsServlet</servlet-name>
		<servlet-class>servlet.SearchMeetingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchMeetingsServlet</servlet-name>
		<url-pattern>/SearchMeetingsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateMeetingServlet</display-name>
		<servlet-name>UpdateMeetingServlet</servlet-name>
		<servlet-class>servlet.UpdateMeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateMeetingServlet</servlet-name>
		<url-pattern>/UpdateMeetingServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewMyBookedMeetingsServlet</display-name>
		<servlet-name>ViewMyBookedMeetingsServlet</servlet-name>
		<servlet-class>servlet.ViewMyBookedMeetingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewMyBookedMeetingsServlet</servlet-name>
		<url-pattern>/ViewMyBookedMeetingsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookMeetingServlet</display-name>
		<servlet-name>BookMeetingServlet</servlet-name>
		<servlet-class>servlet.BookMeetingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookMeetingServlet</servlet-name>
		<url-pattern>/BookMeetingServlet</url-pattern>
	</servlet-mapping>
</web-app>